.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin: 40px;
  font-size: 24px;
}
.App-main input {
  font-size: 24px;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
}
.App-main input:focus {
  outline: none;
  border-radius: 8px;
  border: 4px solid #61dafb;
}
.App-main button {
  font-size: 24px;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  background-color: coral;
}
.App-main button:active {
  outline: none;
  border-radius: 8px;
  border: 4px solid darkgoldenrod;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
